@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  user-select: none;
  /* background-color: rgb(7, 7, 17); */
  background-color: #fff;
  font-family: cursive;
  color: #000;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  justify-content: space-between;
  text-align: center;
  /* background-color: #000; */
  width: 100%;
}
.logo {
  display: flex;
}
.logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
/* .gText {
  color: aliceblue;
} */
.logoText {
  margin-left: 10px;
  font-size: 20px;
}
.navLinks {
  list-style: none;
  display: flex;
}
.navLinks li {
  margin-left: 20px;
}
.navLinks li a {
  color: #000;
  text-decoration: none;
  font-size: 30px;

  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.navLinks li a:hover {
  color: #5555554a;
  transition: 0.8s all ease-in;
  -webkit-transition: 0.8s all ease-in;
  -moz-transition: 0.8s all ease-in;
  -ms-transition: 0.8s all ease-in;
  -o-transition: 0.8s all ease-in;
}

section {
  padding: 100px;
}

#banner .row {
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
#banner .row .col5 {
  position: relative;
  width: 48%;
  text-align: center;
}
#banner .row .col5 h2 {
  font-size: 3em;
  text-align: center;
  color: #000;
  letter-spacing: 10px;
  margin-bottom: 20px;
  animation: animate 5s linear infinite;
  /*-webkit-box-reflect: above 1px linear-gradient(transparent, blueviolet);
  */
  -webkit-animation: animate 5s;
  -webkit-animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #000;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgb(17, 16, 19), 0 0 20px rgb(22, 22, 23),
      0 0 40px rgb(22, 21, 22), 0 0 80px rgb(98, 48, 145),
      0 0 160px rgb(18, 18, 19);
  }
}
#banner .row .col5 p {
  text-align: center;
  font-family: sans-serif;
}
.col5 .imgBx {
  position: relative;
  height: 450px;
  width: 100%;
}
.col5 .imgBx img {
  width: 100%;
  height: 100%;

  box-shadow: 0px 5px 35px rgb(231, 225, 225);
}
/* .col5Bx {
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 75%;

  overflow: hidden;
  border: 20px solid #ffff;
  border-radius: 8px;
  box-shadow: 15px 25px 30px rgb(30, 30, 200, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#banner .row .col5 .imgBx {
  width: 400px;
  height: 400px;
  display: flex;
  animation: slide 16s infinite;
  -webkit-animation: slide 16s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  25% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
  }
  30% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300);
    -webkit-transform: translateX(-300);
    -moz-transform: translateX(-300);
    -ms-transform: translateX(-300);
    -o-transform: translateX(-300);
  }
}
#banner .row .col5 .imgBx img {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  object-fit: cover;
} */
#banner .row .col5 a {
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
#banner .btn {
  margin-top: 20px;
  padding: 7px 20px;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: rgb(28, 28, 29);
}
#banner .btn:hover {
  background-color: aliceblue;
  color: #555;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}
#collection {
  box-shadow: 0px 1px 5px #000;
}
#collection .pinky {
  text-align: center;
  font-size: 4em;
}
#collection .collectan {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#collection .collectan .collecBx {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.pcak {
  margin: 20px;
  text-align: center;
}
.pcak2 {
  border: 1px solid#000;
  padding: 10px;
}
.pcak2 h2 {
  text-align: center;
  font-family: sans-serif;
}
.thecker {
  text-align: center;
}
.thecker a {
  color: #fff;
}
.thecker a:hover {
  color: #000;
}
.thecker a img {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.thecker a img:hover {
  background-color: #fff;
  padding: 10px;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}
#collection .collectan .collecBx p {
  margin-top: 20px;
  text-align: center;
  /* background-color: rgba(41, 0, 80, 0.365); */
  /* border: 1px solid #000; */
  font-family: sans-serif;
}
#collection .collectan .collecBx .imgBx {
  width: 180px;
  height: 180px;
}
#collection .collectan .collecBx .imgBx img {
  box-shadow: -3px -5px 25px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

#gall {
  padding: 2rem;
}
#gall h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
}
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: o 1.5rem 3rem -0.75 hsla(0, 0%, 0% 0.25);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: opacity ease 250ms;
  -webkit-transition: opacity ease 250ms;
  -moz-transition: opacity ease 250ms;
  -ms-transition: opacity ease 250ms;
  -o-transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

#partnership {
  box-shadow: 0px 1px 5px #000;
}
#partnership .party {
  display: flex;
  align-items: center;
  justify-content: center;
}
#partnership .party .partyBx {
  margin: 30px;
}
#partnership .party .partyBx .imgBx {
  width: 150px;
  height: 150px;
}
#partnership .party .partyBx .imgBx img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 20px 50px 150px rgb(30, 30, 200, 0.3);
}
#team {
  box-shadow: 0px 1px 5px #000;
  padding: 20px;
}

#team h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#team .cony {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#team .cony .conyBx {
  max-width: 90%;
  margin: 20px;
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#team .cony .conyBx .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 150px;
  height: 150px; /* Adjusted for mobile */
}

#team .cony .conyBx .imgBx img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#team .cony .conyBx .textBx h3 {
  text-align: center;
  font-family: sans-serif;
  border: 1px solid #000;
  padding: 8px 10px;
  border-radius: 50px;
}

#team .cony .conyBx p {
  font-family: sans-serif;
  text-align: center;
  margin-top: 15px;
  font-size: 1em;
}

#team .cony .conyBx a i {
  display: inline-block;
  border: 1px solid #8a2be2;
  border-radius: 50%;
  color: #8a2be2;
  padding: 10px;
  margin-top: 10px;
  transition: 0.7s ease-in;
}

#team .cony .conyBx a i:hover {
  background-color: #555;
  color: #fff;
  border: none;
  transition: 0.7s ease-in;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0 px);
    -webkit-transform: translateX(0 px);
    -moz-transform: translateX(0 px);
    -ms-transform: translateX(0 px);
    -o-transform: translateX(0 px);
  }
}
#collection,
#gall,
#team .conyBx,
#partnership {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
/* Mobile responsiveness*/
@media screen and (max-width: 991px) {
  nav {
    padding: 10px 20px;
    position: fixed;
  }
  nav .navLinks {
    padding: 10px 20px;
    flex-direction: column;
    text-align: left;
    display: none;
  }
  nav .navLinks li a {
    color: #fff;
  }
  .menuToggle {
    position: relative;
    background: url(images/icons8-menu-100.png);
    height: 40px;
    width: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
  }
  .menuToggle.active {
    background: url(images/icons8-x-64.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
  }
  .navLinks.active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0e0e;
    position: fixed;
    flex-direction: column;
    /*height: calc(100% - 60px);
    */
    left: 0;
    top: 60px;
  }
  .navLinks .logo {
    margin-bottom: 10px;
    justify-content: center;
  }

  .logo img {
    width: 35px;
    height: 35px;
  }

  .logoText {
    font-size: 18px;
    margin-left: 5px;
  }

  section {
    padding: 50px;
  }
  #banner {
    padding-bottom: 50px;
  }
  #banner .row {
    flex-direction: column;
  }

  #banner .row .col5 {
    position: relative;
    width: 100%;
    margin: 10px 0;
  }

  #banner .row .col5 h2 {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 100%;
  }

  #banner .row .col5 .imgBx {
    height: 300px;
  }
  #banner .row .col5 p {
    text-align: center;
    max-width: 100%;
  }

  #banner .btn {
    padding: 8px;
    width: 100%;
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
  #collection .collectan .collecBx {
    flex-direction: column;
  }

  #collection .pinky {
    font-size: 2em;
  }

  .pcak2 h2 {
    font-size: 15px;
  }
  #gall h2 {
    font-size: 2em;
  }
  #partnership .party .partyBx {
    margin: 10px;
  }
  #partnership .party .partyBx .imgBx {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    max-width: 100%;
  }
  #partnership .partyBx .imgBx img {
    width: 100%;
    height: 100%;
  }

  #team h2 {
    font-size: 2em;
  }

  #team .cony {
    flex-direction: column;
  }

  #team .cony .conyBx {
    max-width: 100%;
    margin: 10px;
  }

  #team .cony .conyBx .imgBx {
    width: 90px;
    height: 90px;
  }

  #team .cony .conyBx p {
    font-size: 0.9em;
  }
}
